/* *,
*:before,
*:after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #4d84f1;
  font-size: 100%;
}
@media (min-width: 40em) {
  body {
    font-size: 70%;
  }
}
@media (min-width: 62em) {
  body {
    font-size: 100%;
  }
}

h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.2;
}
@media (min-width: 40em) {
  h2 {
    font-size: 4em;
  }
}

button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.2);
  background: #80adff;
  outline: 0;
  border: 0;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
button i {
  display: block;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  cursor: pointer;
  background: #6ca0ff;
  -webkit-transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover i {
  color: #fff;
  -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
button:active {
  background: #4d8cff;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
button:active i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
} */

.mast {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  padding: 3em 1em;
}
@media (min-width: 40em) {
  .mast {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    justify-content: space-around;
  }
}
.mast__img {
  margin: 0 auto 1.5em;
  background-color: #4d84f1;
}
@media (min-width: 40em) {
  .mast__img {
    margin: 0 auto;
  }
}
.mast__img img {
  display: block;
  max-width: 34em;
  width: 100%;
  margin: 0 auto;
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: screen;
}
@media (min-width: 62em) {
  .mast__img img {
    max-width: 50em;
  }
}
.mast__img figcaption {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: -1em auto 0;
}
.mast__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #4d84f1;
  width: 100%;
  height: 100%;
}
.mast__title {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.25em;
}
.mast .title-line {
  display: block;
  padding-bottom: 0.1em;
  overflow-y: hidden;
  background-color: #4d84f1;
}
.mast .title-line span {
  position: relative;
  display: inline-block;
}
.mast__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 115%;
  max-width: 23em;
}
@media (min-width: 40em) {
  .mast__text {
    font-size: 140%;
  }
}

.animated .mast__img:after {
  -webkit-animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
          animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}
.animated .mast .title-line span {
  -webkit-animation: text-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
          animation: text-up 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}
.animated .mast .title-line:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.animated .mast .title-line:nth-of-type(3) span {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.animated .mast .title-line:nth-of-type(4) span {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.animated .mast__text {
  -webkit-animation: fade-in 1s 0.5s ease both;
          animation: fade-in 1s 0.5s ease both;
}
.animated button i {
  -webkit-animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) both;
          animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@-webkit-keyframes text-up {
  from {
    -webkit-transform: translate3d(0, 150%, 0);
            transform: translate3d(0, 150%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes text-up {
  from {
    -webkit-transform: translate3d(0, 150%, 0);
            transform: translate3d(0, 150%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -110%, 0);
            transform: translate3d(0, -110%, 0);
  }
}
@keyframes slide-up {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -110%, 0);
            transform: translate3d(0, -110%, 0);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
